.container[data-v-c928478f] {
    position: relative;
    display: flex;
    width: 600px;
    min-height: 240px;
    border-radius: 8px;
    border: solid 3px var(--theme-color);
    padding: 10px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: 0 auto
}

.item[data-v-c928478f] {
    font-size: var(--font-size);
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: dashed
}

.item[data-v-c928478f]:focus {
    outline: none;
    background-color: var(--153a1f8e) !important;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: dashed
}

.text[data-v-c928478f] {
    min-height: 160px;
    max-height: 300px;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    font-size: var(--font-size);
    resize: vertical;
    font-family: inherit
}

.text[data-v-c928478f]:focus {
    background-color: var(--153a1f8e) !important;
    outline: none
}

.wordNumber[data-v-c928478f] {
    position: absolute;
    right: 25px;
    color: #999
}

.showMarkdown[data-v-c928478f] {
    width: 100%;
    font-size: var(--font-size);
    margin-top: 5px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 5px
}

.showMarkdown *[data-v-c928478f] {
    margin: 0;
    padding: 0
}

.other[data-v-c928478f] {
    width: 100%;
    height: 40px;
    position: relative
}

.other button[data-v-c928478f] {
    position: absolute;
    background: var(--theme-color);
    border-color: var(--theme-color);
    outline: none;
    height: 30px;
    width: 45px;
    font-weight: 550;
    font-size: var(--font-size);
    border: 1px solid #dcdfe6;
    border-radius: 4px
}

.other button[data-v-c928478f]:hover {
    cursor: pointer;
    background-color: #abe2a0
}

.other button[data-v-c928478f]:active {
    background-color: #dcdfe6
}

.other .preview[data-v-c928478f] {
    bottom: 0;
    right: 65px
}

.other .submit[data-v-c928478f] {
    bottom: 0;
    right: 15px
}

:root {
    --font-size: 15px;
    --theme-color: rgb(199 225 194)
}

#comment {
    margin: 30px auto 0
}