.home-info{
    margin-top: 0px;
    margin-bottom: 0px;
}

.tags-container{
    margin: 5px;
}

#menu a{
    font-weight: 700;
    font-size: 18px;
}

.post-content img{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    
}

/* 文本两端对齐 */
.post-content p{
    text-align:justify; 
    text-justify:inter-ideograph;
}