{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<!--tag custom js(static) -->
<!--
{{ range .Site.Params.custom_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }} -->
{{ partial "mathjax.html" . }}
<link rel="icon" href="/avatar.png">
<!--tag custom js(assets) -->
{{- $main := resources.Get "js/extended/main.js" | js.Build (dict "params" (dict "custom_param" site.Params.customJs_param)) | resources.Minify }}
{{- $module := resources.Get "js/extended/module.js" }}
{{- $custom := (slice $main $module) | resources.Concat "assets/js/extended/custom.js" }}
<script defer crossorigin="anonymous" src="{{ $custom.RelPermalink }}"></script>

{{- /* Head custom content area end */ -}}
